{{- $git_email := promptStringOnce . "git_email" "Email address for Git" "jan.ehrhardt@cozybytes.tech"}}
{{- $ssh_key := promptStringOnce . "ssh_key" "SSH key" "~/.ssh/id_ed25519_sk"}}

[data.git.user]
    email = {{ $git_email | quote }}

[data.ssh]
    key = {{ $ssh_key | quote }}

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
