[pull]
  rebase = true
[user]
	email = {{ .git.user.email }}
	name = Jan Ehrhardt
	signingkey = {{ .git.user.signingkey }}
[init]
  defaultBranch = main
[commit]
  gpgsign = true
[core]
  autocrlf = input
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
  side-by-side = true
[merge]
  conflictstyle = zdiff3
