[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[user]
	email = {{ .git.user.email }}
	name = Jan Ehrhardt
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
  autocrlf = input
