[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[user]
	email = {{ .git.user.email }}
	name = Jan Ehrhardt
	signingkey = {{ .git.user.signingkey }}
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
  autocrlf = input
