if status is-interactive
    alias l="eza --all --icons --long --git"

    set -gx EDITOR nvim

    atuin init fish | source
    mise activate fish | source
    zoxide init fish | source
    chezmoi completion fish | source
    starship init fish | source
    {{ if eq .chezmoi.os "linux" }}keychain --quiet --eval ~/.ssh/id_ed25519_sk | source{{ end }}
end
