if status is-interactive
    alias l="eza --all --icons --long --git"

    set -gx EDITOR nvim

    {{ if eq .chezmoi.os "linux" }}source "$HOME/.cargo/env.fish"{{ end }}
    atuin init fish | source
    mise activate fish | source
    zoxide init fish | source
    chezmoi completion fish | source
    starship init fish | source
end
